<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Mini URL</title>
  </head>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script>
    const submitRequest = () => {
      
      const resultDisplay = document.getElementById("result-display");
      
      axios.post('/create', {

        full_url: document.getElementById("full-url-input").value

      }).then((response) => {

        if(response.data){
          resultDisplay.innerHTML = 'New miniUrl created: <a href="http://'+response.data.mini_url+'"">'+response.data.mini_url+'</a>';
        }

      }).catch((err) => {

        console.error(err);
        resultDisplay.innerHTML = err;

      })
    }
  </script>

  <body>
    <div id="app-wrapper">
      <h2 id="title"> Create a Mini URL </h2>
      <form>
          <input id="full-url-input" placeholder="Enter url..."></input>
          <button type="button" onclick="submitRequest()">Create</button>
          <div id="result-display"></div>
      </form>
    </div>
  </body>

  <style>
    #app-wrapper {
      margin-right: auto;
      margin-left: auto;
      width: 50%;

      display: flex;
      flex-direction: column;
      text-align: center;
    }

    #title {
      font-size: large;

    }
  </style>
</html>